@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
body{
    margin:0px;
    overflow-x: hidden;
   
}
.sti{
    position:relative;
    top:0px;
    position:sticky;
    top:0px;
    z-index:9;
}
.header{
    width:100%;
    display:flex;
    justify-content:space-between;
    height:110px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(46,7,138,1) 30%, rgba(59,58,143,1) 51%, rgba(88,88,222,1) 74%, rgba(45,50,167,1) 86%, rgba(48,26,217,1) 93%);
}
.but{
    color: #0a0a0a;
    font-size: 22px;
    padding-right: 13px;
    font-family:'Poppins',sans-serif;
}
nav{
    padding-top:40px;
}
#log{
    width: 138px;
    height:44px;
    margin-left :50px;
    margin-top: 30px;
}
#msg{
    position:absolute;
    top: 300px;
    left:32%;
    color:white;
    font-size:large;
    font-family: 'Poppins',sans-serif;
}
#click{
    position:absolute;
    top: 100px;
    left:32%;
    transition: transform .3s;
}
#click:hover{
    transform: scale(1.25);
    color:gray;
    border: 1px solid white;
    border-radius: 4px;
    cursor:pointer;
}
#heading{
    margin-left: 46%;
    font-size:30px;
    color:#139139;
    font-family:'Poppins',sans-serif;
}
#abm{
    position:relative;
    left:33%;
    width: 650px;
    text-align: center;
    font-family:'Poppins',sans-serif;
}
.card_sec{
    margin-top:40px;
    display:flex;
    justify-content: space-between;
}
.first{
    position:relative;
    left:20%;
    width:420px;
}
.second{
    position:relative;
    right:20%;
    width:420px;
}
.awards{
    width:100%;
    display:flex;
    justify-content:space-between;
    width:75%;
}
#aw{
    font-family:'Poppins',sans-sherif; 
    font-size:12px;
    
}
#pow{
    font-family:'Poppins',sans-sherif; 
    font-size:12px;
}
.get{
    display:flex;
    justify-content:space-between;
}
.form{
    position:relative;
    left:80px;
}
#inp{
    background-color:rgb(0,0,0,0);
    color:rgb(2, 2, 2);
    border-radius: 5px;
    border:0.25px solid rgb(0, 0, 0);
    padding:10px;
    font-size:15px;
    font-family:'Poppins',sans-serif;
  }
  #order1{
      cursor: pointer;
      border:2px solid black;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:25px;
    margin-left:25%;
    font-family:'Poppins',sans-serif;
   
  }
  #foot{
      display:flex;
      justify-content:space-around;
      height:70px;
      background-color: #139139;
      margin-bottom: 0px;
  }
  #la{
    position:relative;
    top:30px;
    margin-left:4px;
    font-family:'Poppins',sans-serif;
    font-size:15px;
  }
  #icons{
      position:relative;
      top:30px;
      display:flex;
      justify-content:space-between;
  }
/* @media screen and (max-width:1386px) {  
    .card_secs{
            
            display:block;
            justify-content:column;
        }
} */
